.nav {
    position: fixed;
    top: 0px;
    float: left;
    left: 0px;
    display: inline-flex;
}

.search {
    display: inline-flex;
    margin-top: 11%;
    left: auto;
    float: left;
    margin-left: 40%;
}

.input {
    width: 350px;
}

.other {
    display: flex;
    right: 10%;
    justify-content: space-between;
    margin: 10px;
    margin-top: 40px;
    margin-left: 70%;
}

.othertag  {
    display: inline-flex;
    float: right;
    margin: 10px;

}